<div class="container">
  <div class="container register">
    <div class="row">
      <div class="col-md-3 register-left">
        <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt="" />
        <h3>Welcome</h3>
        <p>You are one step away from Login!</p>
        <input type="submit" name="" value="Login" />
        <a [routerLink]="['/Login']">
          link to login component
        </a>
        <br/>
      </div>

      <form #UserForm="ngForm" (ngSubmit)="onSubmit(UserForm.value)">
        <div class="form-group">
          <div class="col-md-9 register-right">
            <br>
            <div class="note">
              <p>User Registration Form</p>
            </div>
            <br>
            <br>
            <div class="row">
              <div class="col-md-4">
                <label>UserName</label>
                <input type="text" class="form-control" name="userName" ngModel>
              </div>

              <div class="col-md-5">
                <div class="form-group">
                  <label>Email</label>
                  <input type="text" class="form-control" name="email" ngModel>
                </div>
                <div class="form-group">
                  <label>Password</label>
                  <input type="text" class="form-control" name="password" ngModel>
                </div>
              </div>
            </div>


            <button type="submit" class="btn  btn-primary">SUBMIT</button>
          </div>

        </div>
      </form>
    </div>
  </div>

  <!-- <div class="form-group">
      <label>Gender</label>
      <div class="radio">
        <label>
          <input type="radio" name="gender" value="male" ngModel> male
        </label>
        <label>
          <input type="radio" name="gender" value="female" ngModel> female
        </label>
      </div>
    </div>
    <div class="form-group">
      <label>Age</label>
      <input type="text" class="form-control" name="Age" ngModel>
    </div>
    <div class="form-group">
      <label>DOB</label>
      <input type="text" class="form-control" name="DOB" ngModel>
    </div>
    <div class="form-group">
      <label>Class</label>
      <input type="text" class="form-control" name="Class" ngModel>
    </div>
    <div class="form-group">
      <label>City</label>
      <input type="text" class="form-control" name="City" ngModel>
    </div>
    <div class="form-group" ngModelGroup="address">
      <label>Address</label>
      <div>
        <label>Zip:</label>
        <input type="text" name="zip" ngModel>
      </div>
      <div>
        <label>Street:</label>
        <input type="text" name="street" ngModel>
      </div>
      <div>
        <label>City:</label>
        <input type="text" name="city" ngModel>
      </div>
    </div> -->